* {
    margin: 0;
    padding: 0;
   /* border: 1px solid red; */
}

body {
    background-color: rgb(190, 69, 69);
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(150, 107, 107);
    color: azure;
    padding: 10px 0px 5px 0px;
    align-items: center;
}

.school_logo img {
    width: 80px;
    border-radius: 30px;
}

.site_name {
    font-size: 30px;
    outline: 1px solid green;
}


.inla input {
    display: inline-flex;
    padding-left: 18px;
    padding-right:23px ;
    padding-top:1px ;
    padding-bottom:1px ;
    border: none;
    margin-top: 10px;
    display: block;
    height: 30px;
    width: 350px;
    border-bottom: 1px solid green;
}


input::placeholder {
    text-align: left;
}

input:hover {
   outline: 1px solid green;
    border-radius: 1px;
}

input:focus{
    transition: 1ms;
    outline: none;
    border-bottom: 2px solid green;
}

form {
    margin: auto;
    margin-top: 10px;
    width: 30%;
    padding: 50px;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
    border-radius: 5px;
}

.form_name{
    text-align: center;
}

form a{
    text-decoration: none;
    color: green;
}

main {
    padding: 20px;
}

form button {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 4px 40px 4px 40px;
    font-size: 17px;
    font-weight: 20px;
    border: none;
    border-radius: 20px;
    display: block;
   
}

form button:hover {
    outline: 1px solid green;
    transition: all 1ms linear;
}

.focr{
    display: flex;
    justify-content: space-between;

}

